table.unstyled
  border: none
  td, th
    border: none

table.totals
  width: 100%
  th
    width: 40%
  td
    text-align: right

table.sales-form
  width: auto
  td
    width: auto
  .controls
    margin-left: 0px !important
    margin-right: 5px
    margin-bottom: 4px !important
    width: inherit !important
    .input
      width: auto

.toggleoff
  display: none
.toggled
  .toggleon
    display: none
  .toggleoff
    display: block
table.table-sales
  thead
    tr
      border-bottom: 2px solid black
  td, th
    padding: 3px 9px
  tbody
    tr:first-child
      td
        padding-top: 6px
    tr.alt td
      background: #eee
    td.seller
      text-align : right
      font-weight: bold
      border-right: 1px solid #eee
    tr.details
      text-align: center
      td:nth-child(2),
      td:nth-child(3),
      td:nth-child(4)
        border: 1px solid #eee
    tr.details.alt
      td:nth-child(2),
      td:nth-child(3),
      td:nth-child(4)
        background: white
  td.actions
    text-align: right
